[submodule "Agate/vender/glfw"]
	path = Agate/vender/glfw
	url = https://github.com/TANK1-41/glfw
[submodule "Agate/vender/spdlog"]
	path = Agate/vender/spdlog
	url = https://github.com/TANK1-41/spdlog
[submodule "Agate/vender/imgui"]
	path = Agate/vender/imgui
	url = https://github.com/TANK1-41/imgui
	branch = docking
[submodule "Agate/vender/glm"]
	path = Agate/vender/glm
	url = https://github.com/TANK1-41/glm
[submodule "Agate/vender/assimp"]
	path = Agate/vender/assimp
	url = https://github.com/wba6/assimp.git
